# Data & ML
pandas
numpy
scikit-learn
xgboost
imbalanced-learn
joblib

# MLfloat
mlflow

# DVC
dvc
dvc-s3

# Database
sqlalchemy

# API
fastapi
uvicorn
pydantic

# Monitoring
evidently

# Notebook
jupyter
ipykernel

# Visualization
matplotlib
seaborn

# Testing
pytest
httpx2

# Utilities
python-dotenv

# MLFlow
mlflow

# UI
gradio
requests